In [1]:
import pandas as pd

In [3]:
dunya= pd.read_csv("dünya.csv",engine="python",encoding = "utf8")
dunya.head()

        Ülke     Gelir     Nüfus  Kişi Başına           KITA
0        ABD  20410000   323,766        63039  Kuzey Amerika
1        Çin  14090000  1415,045         9957           Asya
2    Japonya   5170000   127,185        40649           Asya
3    Almanya   4210000    82,293        51158         Avrupa
4  İngiltere   2940000    66,573        44162         Avrupa

In [4]:
dunya[["Ülke","KITA"]].head()  #sadece 2 sütun çekildi

        Ülke           KITA
0        ABD  Kuzey Amerika
1        Çin           Asya
2    Japonya           Asya
3    Almanya         Avrupa
4  İngiltere         Avrupa

In [5]:
dunya["Sıralama"]= "top 20"  #Sutun ekleme (en son)

In [6]:
dunya

               Ülke     Gelir     Nüfus  Kişi Başına           KITA Sıralama
0               ABD  20410000   323,766        63039  Kuzey Amerika   top 20
1               Çin  14090000  1415,045         9957           Asya   top 20
2           Japonya   5170000   127,185        40649           Asya   top 20
3           Almanya   4210000    82,293        51158         Avrupa   top 20
4         İngiltere   2940000    66,573        44162         Avrupa   top 20
5            Fransa   2930000    65,233        44915         Avrupa   top 20
6         Hindistan   2850000  1354,051         2104           Asya   top 20
7            İtalya   2180000     59,29        36768         Avrupa   top 20
8          Brezilya   2140000   210,867        10148  Güney Amerika   top 20
9            Kanada   1800000    36,953        48710  Kuzey Amerika   top 20
10            Rusya   1720000   143,967        11947         Avrupa   top 20
11       GÜney Kore   1690000    51,164        33031           Asya   top 20
12          İspanya   1510000    46,397        32545         Avrupa   top 20
13      Avusturalya   1500000    24,772        60552      Okyanusya   top 20
14          Meksika   1210000   130,759         9253  Kuzey Amerika   top 20
15        Endonezya   1070000   266,794         4010           Asya   top 20
16         Hollanda    945000    17,084        55314         Avrupa   top 20
17          Türkiye    910000    81,916        11108           Asya   top 20
18  Suudi Arabistan    748000    33,554        22292           Asya   top 20
19          İsviçre    741000     8,554        86626         Avrupa   top 20

In [ ]:
dunya.insert(loc=2,column="gelir duzeyi",value="yüksek gelir")

In [10]:
dunya

,Ülke,Gelir,gelir duzeyi,Nüfus,Kişi Başına,KITA,Sıralama
0,ABD,20410000,yüksek gelir,"323,766",63039,Kuzey Amerika,top 20
1,Çin,14090000,yüksek gelir,"1415,045",9957,Asya,top 20
2,Japonya,5170000,yüksek gelir,"127,185",40649,Asya,top 20
3,Almanya,4210000,yüksek gelir,"82,293",51158,Avrupa,top 20
4,İngiltere,2940000,yüksek gelir,"66,573",44162,Avrupa,top 20
5,Fransa,2930000,yüksek gelir,"65,233",44915,Avrupa,top 20
6,Hindistan,2850000,yüksek gelir,"1354,051",2104,Asya,top 20
7,İtalya,2180000,yüksek gelir,"59,29",36768,Avrupa,top 20
8,Brezilya,2140000,yüksek gelir,"210,867",10148,Güney Amerika,top 20
9,Kanada,1800000,yüksek gelir,"36,953",48710,Kuzey Amerika,top 20
10,Rusya,1720000,yüksek gelir,"143,967",11947,Avrupa,top 20
11,GÜney Kore,1690000,yüksek gelir,"51,164",33031,Asya,top 20
12,İspanya,1510000,yüksek gelir,"46,397",32545,Avrupa,top 20
13,Avusturalya,1500000,yüksek gelir,"24,772",60552,Okyanusya,top 20
14,Meksika,1210000,yüksek gelir,"130,759",9253,Kuzey Amerika,top 20
15,Endonezya,1070000,yüksek gelir,"266,794",4010,Asya,top 20
16,Hollanda,945000,yüksek gelir,"17,084",55314,Avrupa,top 20
17,Türkiye,910000,yüksek gelir,"81,916",11108,Asya,top 20
18,Suudi Arabistan,748000,yüksek gelir,"33,554",22292,Asya,top 20
19,İsviçre,741000,yüksek gelir,"8,554",86626,Avrupa,top 20

In [12]:
dunya["Gelir"]=dunya["Gelir"]/1000000

In [13]:
dunya

,Ülke,Gelir,gelir duzeyi,Nüfus,Kişi Başına,KITA,Sıralama
0,ABD,20.410,yüksek gelir,"323,766",63039,Kuzey Amerika,top 20
1,Çin,14.090,yüksek gelir,"1415,045",9957,Asya,top 20
2,Japonya,5.170,yüksek gelir,"127,185",40649,Asya,top 20
3,Almanya,4.210,yüksek gelir,"82,293",51158,Avrupa,top 20
4,İngiltere,2.940,yüksek gelir,"66,573",44162,Avrupa,top 20
5,Fransa,2.930,yüksek gelir,"65,233",44915,Avrupa,top 20
6,Hindistan,2.850,yüksek gelir,"1354,051",2104,Asya,top 20
7,İtalya,2.180,yüksek gelir,"59,29",36768,Avrupa,top 20
8,Brezilya,2.140,yüksek gelir,"210,867",10148,Güney Amerika,top 20
9,Kanada,1.800,yüksek gelir,"36,953",48710,Kuzey Amerika,top 20
10,Rusya,1.720,yüksek gelir,"143,967",11947,Avrupa,top 20
11,GÜney Kore,1.690,yüksek gelir,"51,164",33031,Asya,top 20
12,İspanya,1.510,yüksek gelir,"46,397",32545,Avrupa,top 20
13,Avusturalya,1.500,yüksek gelir,"24,772",60552,Okyanusya,top 20
14,Meksika,1.210,yüksek gelir,"130,759",9253,Kuzey Amerika,top 20
15,Endonezya,1.070,yüksek gelir,"266,794",4010,Asya,top 20
16,Hollanda,0.945,yüksek gelir,"17,084",55314,Avrupa,top 20
17,Türkiye,0.910,yüksek gelir,"81,916",11108,Asya,top 20
18,Suudi Arabistan,0.748,yüksek gelir,"33,554",22292,Asya,top 20
19,İsviçre,0.741,yüksek gelir,"8,554",86626,Avrupa,top 20

In [14]:
dunya["gelir türk lirası"] = dunya["Gelir"]*4.75

In [15]:
dunya

,Ülke,Gelir,gelir duzeyi,Nüfus,Kişi Başına,KITA,Sıralama,gelir türk lirası
0,ABD,20.410,yüksek gelir,"323,766",63039,Kuzey Amerika,top 20,96.94750
1,Çin,14.090,yüksek gelir,"1415,045",9957,Asya,top 20,66.92750
2,Japonya,5.170,yüksek gelir,"127,185",40649,Asya,top 20,24.55750
3,Almanya,4.210,yüksek gelir,"82,293",51158,Avrupa,top 20,19.99750
4,İngiltere,2.940,yüksek gelir,"66,573",44162,Avrupa,top 20,13.96500
5,Fransa,2.930,yüksek gelir,"65,233",44915,Avrupa,top 20,13.91750
6,Hindistan,2.850,yüksek gelir,"1354,051",2104,Asya,top 20,13.53750
7,İtalya,2.180,yüksek gelir,"59,29",36768,Avrupa,top 20,10.35500
8,Brezilya,2.140,yüksek gelir,"210,867",10148,Güney Amerika,top 20,10.16500
9,Kanada,1.800,yüksek gelir,"36,953",48710,Kuzey Amerika,top 20,8.55000
10,Rusya,1.720,yüksek gelir,"143,967",11947,Avrupa,top 20,8.17000
11,GÜney Kore,1.690,yüksek gelir,"51,164",33031,Asya,top 20,8.02750
12,İspanya,1.510,yüksek gelir,"46,397",32545,Avrupa,top 20,7.17250
13,Avusturalya,1.500,yüksek gelir,"24,772",60552,Okyanusya,top 20,7.12500
14,Meksika,1.210,yüksek gelir,"130,759",9253,Kuzey Amerika,top 20,5.74750
15,Endonezya,1.070,yüksek gelir,"266,794",4010,Asya,top 20,5.08250
16,Hollanda,0.945,yüksek gelir,"17,084",55314,Avrupa,top 20,4.48875
17,Türkiye,0.910,yüksek gelir,"81,916",11108,Asya,top 20,4.32250
18,Suudi Arabistan,0.748,yüksek gelir,"33,554",22292,Asya,top 20,3.55300
19,İsviçre,0.741,yüksek gelir,"8,554",86626,Avrupa,top 20,3.51975

In [16]:
dunya["KITA"].value_counts()

Avrupa           8
Asya             7
Kuzey Amerika    3
Okyanusya        1
Güney Amerika    1
Name: KITA, dtype: int64