## Çeşitli Dosya Tiplerini indirme ve kaydetme

### 1.csv dosyaları

In [1]:
import pandas as pd

In [2]:
d =pd.read_csv("https://data.cdc.gov/api/views/bi63-dtpu/rows.csv")  #internetten csv indirme
d

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0
5,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Colorado,2880,51.2
6,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Connecticut,1978,50.3
7,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Delaware,516,52.4
8,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,District of Columbia,401,58.3
9,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Florida,12561,54.9
10,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Georgia,4701,45.8
11,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Hawaii,577,35.3
12,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Idaho,849,49.5
13,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Illinois,5508,41.0
14,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Indiana,3496,51.6
15,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Iowa,1608,45.8
16,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Kansas,1444,45.7
17,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Kentucky,3194,71.0
18,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Louisiana,2710,57.4
19,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Maine,909,62.4
20,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Maryland,2271,35.7
21,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Massachusetts,3831,52.8
22,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Michigan,5313,50.5
23,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Minnesota,2697,43.8
24,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Mississippi,1803,59.2
25,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Missouri,3625,57.0
26,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Montana,626,54.1
27,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Nebraska,772,37.0
28,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Nevada,1395,46.0
29,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,New Hampshire,924,66.6
...,...,...,...,...,...,...
10266,2011,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2680,42.8
10267,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2525,40.8
10268,2009,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2449,40.0
10269,2008,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2484,40.8
10270,2007,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2619,44.0
10271,2006,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2524,42.7
10272,2005,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2490,42.8
10273,2004,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2303,39.7
10274,2003,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2345,41.0
10275,2002,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2274,40.1
10276,2001,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2100,37.5
10277,2000,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,2159,38.9
10278,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wisconsin,1955,35.6
10279,2015,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,400,65.8
10280,2014,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,361,60.9
10281,2013,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,325,55.2
10282,2012,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,308,52.9
10283,2011,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,317,56.2
10284,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,346,59.8
10285,2009,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,299,53.7
10286,2008,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,351,64.3
10287,2007,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,299,56.5
10288,2006,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,306,58.9
10289,2005,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,302,58.7
10290,2004,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,243,47.2
10291,2003,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,273,55.1
10292,2002,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,289,58.1
10293,2001,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,272,55.5
10294,2000,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,245,50.8
10295,1999,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Wyoming,258,52.8

In [5]:
d["State"].tolist()  #sutunu listeye çevirme

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Alaska',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Vermont',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Wyoming',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 ...]

In [7]:
state= d["State"].to_frame()
state

                      State
0                   Alabama
1                    Alaska
2                   Arizona
3                  Arkansas
4                California
5                  Colorado
6               Connecticut
7                  Delaware
8      District of Columbia
9                   Florida
10                  Georgia
11                   Hawaii
12                    Idaho
13                 Illinois
14                  Indiana
15                     Iowa
16                   Kansas
17                 Kentucky
18                Louisiana
19                    Maine
20                 Maryland
21            Massachusetts
22                 Michigan
23                Minnesota
24              Mississippi
25                 Missouri
26                  Montana
27                 Nebraska
28                   Nevada
29            New Hampshire
...                     ...
10266             Wisconsin
10267             Wisconsin
10268             Wisconsin
10269             Wisconsin
10270             Wisconsin
10271             Wisconsin
10272             Wisconsin
10273             Wisconsin
10274             Wisconsin
10275             Wisconsin
10276             Wisconsin
10277             Wisconsin
10278             Wisconsin
10279               Wyoming
10280               Wyoming
10281               Wyoming
10282               Wyoming
10283               Wyoming
10284               Wyoming
10285               Wyoming
10286               Wyoming
10287               Wyoming
10288               Wyoming
10289               Wyoming
10290               Wyoming
10291               Wyoming
10292               Wyoming
10293               Wyoming
10294               Wyoming
10295               Wyoming

[10296 rows x 1 columns]

In [11]:
state.to_csv("state.csv",index=False)  #data frame'i csv olarak kaydetme
#index'li şekilde kaydettiğimiz için 2 tane index oldu, bunu önlemek için index=False dedik

In [12]:
pd.read_csv("state.csv")

                      State
0                   Alabama
1                    Alaska
2                   Arizona
3                  Arkansas
4                California
5                  Colorado
6               Connecticut
7                  Delaware
8      District of Columbia
9                   Florida
10                  Georgia
11                   Hawaii
12                    Idaho
13                 Illinois
14                  Indiana
15                     Iowa
16                   Kansas
17                 Kentucky
18                Louisiana
19                    Maine
20                 Maryland
21            Massachusetts
22                 Michigan
23                Minnesota
24              Mississippi
25                 Missouri
26                  Montana
27                 Nebraska
28                   Nevada
29            New Hampshire
...                     ...
10266             Wisconsin
10267             Wisconsin
10268             Wisconsin
10269             Wisconsin
10270             Wisconsin
10271             Wisconsin
10272             Wisconsin
10273             Wisconsin
10274             Wisconsin
10275             Wisconsin
10276             Wisconsin
10277             Wisconsin
10278             Wisconsin
10279               Wyoming
10280               Wyoming
10281               Wyoming
10282               Wyoming
10283               Wyoming
10284               Wyoming
10285               Wyoming
10286               Wyoming
10287               Wyoming
10288               Wyoming
10289               Wyoming
10290               Wyoming
10291               Wyoming
10292               Wyoming
10293               Wyoming
10294               Wyoming
10295               Wyoming

[10296 rows x 1 columns]

In [13]:
pd.read_excel("excel.xlsx")

          Futbolcu  Gol
0   Miroslav Klose    5
1   Lucas Podolski    4
2      David Villa    3
3   Maxi Rodriguez    3
4    Thierry Henry    3
5  Zinedine Zidane    3
6    Hernan Crespo    3
7  Fernando Torres    3
8          Ronaldo    3
9         Adriano     2

In [15]:
c=pd.read_excel("excel.xlsx",sheet_name=["2006","2010"])  #bütün sheetleri görmek için--> sheet_name
c

OrderedDict([('2006',           Futbolcu  Gol
              0   Miroslav Klose    5
              1   Lucas Podolski    4
              2      David Villa    3
              3   Maxi Rodriguez    3
              4    Thierry Henry    3
              5  Zinedine Zidane    3
              6    Hernan Crespo    3
              7  Fernando Torres    3
              8          Ronaldo    3
              9         Adriano     2), ('2010',           Futbolcu  Gol
              0      David Villa    5
              1  Wesley Sneijder    5
              2     Diego Forlan    5
              3    Thomas Müller    5
              4   Miroslav Klose    4
              5    Robert Vittek    4
              6        G.Higuain    4
              7     Asamoah Gyan    3
              8   Landon Donovan    3
              9      Luis Suares    3)])

In [16]:
c["2006"] #sadece 2006 sheet'ini görmek için

          Futbolcu  Gol
0   Miroslav Klose    5
1   Lucas Podolski    4
2      David Villa    3
3   Maxi Rodriguez    3
4    Thierry Henry    3
5  Zinedine Zidane    3
6    Hernan Crespo    3
7  Fernando Torres    3
8          Ronaldo    3
9         Adriano     2

In [17]:
dort=pd.read_csv("2014 wc.csv")
dort

          Futbolcu  Gol
0  James Rodriguez    6
1    Thomas Müller    5
2           Neymar    4
3     R.Van Persie    4
4     Lionel Messi    4
5   Andre Schürrle    3
6   Enner Valencia    3
7          Shakiri    3
8     Arjen Robben    3
9       Tim Cahill    2

In [18]:
dort.to_excel("214.xlsx",sheet_name="2014")  #csv'yi excele çevirme

In [19]:
b=pd.read_html("https://ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/List_of_banks_in_Turkey.html")
b  #Html dosyalarını okuma

[                                       0           1  \
 0                                   Bank  Foundation
 1                         Ziraat Bankası        1863
 2                     Türkiye İş Bankası        1924
 3                           Garanti Bank        1946
 4                                 Akbank        1948
 5                  Yapı ve Kredi Bankası        1944
 6                           Halk Bankası        1938
 7                              VakıfBank        1954
 8                             Finansbank        1987
 9                   Türk Ekonomi Bankası        1927
 10                             Denizbank        1997
 11                             HSBC Bank        1990
 12                              ING Bank        1984
 13                         Türk Eximbank        1987
 14                              Odeabank        2012
 15                             Şekerbank        1953
 16                         İller Bankası        1933
 17        Türkiye Sınai Kalkınma Bankası        1950
 18                       Alternatif Bank        1992
 19                              Citibank        1980
 20                           Anadolubank        1996
 21                           Burgan Bank        1992
 22     İstanbul Takas ve Saklama Bankası        1995
 23                           Tekstilbank        1986
 24                         Deutsche Bank        1988
 25                             Fibabanka        1984
 26                 Aktif Yatırım Bankası        1999
 27            The Royal Bank of Scotland        1921
 28              Türkiye Kalkınma Bankası        1975
 29                         Turkland Bank        1991
 30   Bank of Tokyo-Mitsubishi UFJ Turkey        2013
 31                     Arap Türk Bankası        1977
 32                Intesa Sanpaolo S.p.A.        2013
 33                         Merrill Lynch        1992
 34                           BankPozitif        1999
 35                      Société Générale        1989
 36                          Turkish Bank        1982
 37                              Rabobank        2014
 38                        JPMorgan Chase        1984
 39                  Birleşik Fon Bankası        1958
 40                           Bank Mellat        1982
 41                 Nurol Yatırım Bankası        1999
 42                 Diler Yatırım Bankası        1998
 43                   GSD Yatırım Bankası        1998
 44                    Habib Bank Limited        1983
 45  Credit Agricole (Standard Chartered)        1990
 46                               Adabank        1985
 47     Taib Yatırım Bank (Pasha Yatırım)        1987

                                        2  \
 0   # of branches As of 22 February 2016
 1                                   1789
 2                                   1355
 3                                    974
 4                                    901
 5                                    997
 6                                    948
 7                                    917
 8                                    641
 9                                    528
 10                                   691
 11                                   280
 12                                   288
 13                                     3
 14                                    55
 15                                   300
 16                                    19
 17                                     3
 18                                    57
 19                                     8
 20                                   106
 21                                    55
 22                                     1
 23                                    44
 24                                     1
 25                                    68
 26                                     8
 27                                     1
 28                                     1
 29                                    34
 30                                     1
 31                                     7
 32                                     1
 33                                     1
 34                                     1
 35                                     1
 36                                    13
 37                                     1
 38                                     1
 39                                     1
 40                                     3
 41                                     1
 42                                     1
 43                                     1
 44                                     1
 45                                     1
 46                                     1
 47                                     1

                                                     3
 0   Total assets (million TL) As of September 2015[4]
 1                                              299084
 2                                              279942
 3                                              260700
 4                                              236148
 5                                              232248
 6                                              189686
 7                                              188820
 8                                               90410
 9                                               73666
 10                                              82195
 11                                              32869
 12                                              51645
 13                                              46518
 14                                              32841
 15                                              23777
 16                                              17494
 17                                              20853
 18                                              13793
 19                                               8920
 20                                              11620
 21                                              10696
 22                                               7631
 23                                               6264
 24                                               2681
 25                                               9476
 26                                               7383
 27                                               1754
 28                                               4975
 29                                               5651
 30                                               4737
 31                                               3975
 32                                               3925
 33                                                204
 34                                               2090
 35                                                477
 36                                               1397
 37                                                843
 38                                                392
 39                                               2450
 40                                                354
 41                                                788
 42                                                116
 43                                                231
 44                                                113
 45                                                 83
 46                                                 53
 47                                                276  ,
                                            0  \
 0                            Banks of Turkey
 1                                        NaN
 2                               Central Bank
 3                                        NaN
 4                                 Commercial
 5                                     Public
 6                                        NaN
 7                                    Private
 8                                        NaN
 9                                    Foreign
 10                                       NaN
 11                                Investment
 12                                    Public
 13                                       NaN
 14                             Participation
 15                                    Public
 16                                       NaN
 17                                   Private
 18                                       NaN
 19  1 Under TMSF  italic: Global branch page

                                                     1       2  \
 0                                                 NaN     NaN
 1                                                 NaN     NaN
 2                                                 NaN     NaN
 3                                                 NaN     NaN
 4   Public  Halk Bankası  VakıfBank  Ziraat Bankas...  Public
 5   Halk Bankası  VakıfBank  Ziraat Bankası  Adaba...     NaN
 6                                                 NaN     NaN
 7   Akbank  Anadolubank  Türkiye İş Bankası  Fibab...     NaN
 8                                                 NaN     NaN
 9   A&T Bank  Abank  Burgan Bank  Citibank  DenizB...     NaN
 10                                                NaN     NaN
 11                                     Public  İlbank  Public
 12                                             İlbank     NaN
 13                                                NaN     NaN
 14  Public  Vakıf Katılım  Ziraat Katılım Private ...  Public
 15                      Vakıf Katılım  Ziraat Katılım     NaN
 16                                                NaN     NaN
 17         Albaraka Türk  Kuveyt Türk  Türkiye Finans     NaN
 18                                                NaN     NaN
 19                                                NaN     NaN

                                                     3   4        5  \
 0                                                 NaN NaN      NaN
 1                                                 NaN NaN      NaN
 2                                                 NaN NaN      NaN
 3                                                 NaN NaN      NaN
 4   Halk Bankası  VakıfBank  Ziraat Bankası  Adaba... NaN  Private
 5                                                 NaN NaN      NaN
 6                                                 NaN NaN      NaN
 7                                                 NaN NaN      NaN
 8                                                 NaN NaN      NaN
 9                                                 NaN NaN      NaN
 10                                                NaN NaN      NaN
 11                                             İlbank NaN      NaN
 12                                                NaN NaN      NaN
 13                                                NaN NaN      NaN
 14                      Vakıf Katılım  Ziraat Katılım NaN  Private
 15                                                NaN NaN      NaN
 16                                                NaN NaN      NaN
 17                                                NaN NaN      NaN
 18                                                NaN NaN      NaN
 19                                                NaN NaN      NaN

                                                     6   7        8  \
 0                                                 NaN NaN      NaN
 1                                                 NaN NaN      NaN
 2                                                 NaN NaN      NaN
 3                                                 NaN NaN      NaN
 4   Akbank  Anadolubank  Türkiye İş Bankası  Fibab... NaN  Foreign
 5                                                 NaN NaN      NaN
 6                                                 NaN NaN      NaN
 7                                                 NaN NaN      NaN
 8                                                 NaN NaN      NaN
 9                                                 NaN NaN      NaN
 10                                                NaN NaN      NaN
 11                                                NaN NaN      NaN
 12                                                NaN NaN      NaN
 13                                                NaN NaN      NaN
 14         Albaraka Türk  Kuveyt Türk  Türkiye Finans NaN      NaN
 15                                                NaN NaN      NaN
 16                                                NaN NaN      NaN
 17                                                NaN NaN      NaN
 18                                                NaN NaN      NaN
 19                                                NaN NaN      NaN

                                                     9
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4   A&T Bank  Abank  Burgan Bank  Citibank  DenizB...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN  ,
          0                                                  1
 0   Public  Halk Bankası  VakıfBank  Ziraat Bankası  Adaba...
 1      NaN                                                NaN
 2  Private  Akbank  Anadolubank  Türkiye İş Bankası  Fibab...
 3      NaN                                                NaN
 4  Foreign  A&T Bank  Abank  Burgan Bank  Citibank  DenizB...,
         0       1
 0  Public  İlbank,
          0                                           1
 0   Public               Vakıf Katılım  Ziraat Katılım
 1      NaN                                         NaN
 2  Private  Albaraka Türk  Kuveyt Türk  Türkiye Finans,
                                    0  \
 0              List of banks in Asia
 1                                NaN
 2                   Sovereign states
 3                                NaN
 4     States withlimited recognition
 5                                NaN
 6  Dependencies andother territories

                                                    1
 0                                                NaN
 1                                                NaN
 2  Afghanistan  Armenia  Azerbaijan  Bahrain  Ban...
 3                                                NaN
 4  Abkhazia  Nagorno-Karabakh  Northern Cyprus  P...
 5                                                NaN
 6  British Indian Ocean Territory  Christmas Isla...  ,
                                    0  \
 0            List of banks in Europe
 1                                NaN
 2                   Sovereign states
 3                                NaN
 4     States with limitedrecognition
 5                                NaN
 6  Dependencies andother territories

                                                    1
 0                                                NaN
 1                                                NaN
 2  Albania  Andorra  Armenia  Austria  Azerbaijan...
 3                                                NaN
 4  Abkhazia  Kosovo  Nagorno-Karabakh  Northern C...
 5                                                NaN
 6  Åland  Faroe Islands  Gibraltar  Guernsey  Isl...  ]

In [20]:
b[0] #0. indexi düzgün bir dataframe içeriyor

,0,1,2,3
0,Bank,Foundation,# of branches As of 22 February 2016,Total assets (million TL) As of September 2015[4]
1,Ziraat Bankası,1863,1789,299084
2,Türkiye İş Bankası,1924,1355,279942
3,Garanti Bank,1946,974,260700
4,Akbank,1948,901,236148
5,Yapı ve Kredi Bankası,1944,997,232248
6,Halk Bankası,1938,948,189686
7,VakıfBank,1954,917,188820
8,Finansbank,1987,641,90410
9,Türk Ekonomi Bankası,1927,528,73666
10,Denizbank,1997,691,82195
11,HSBC Bank,1990,280,32869
12,ING Bank,1984,288,51645
13,Türk Eximbank,1987,3,46518
14,Odeabank,2012,55,32841
15,Şekerbank,1953,300,23777
16,İller Bankası,1933,19,17494
17,Türkiye Sınai Kalkınma Bankası,1950,3,20853
18,Alternatif Bank,1992,57,13793
19,Citibank,1980,8,8920
20,Anadolubank,1996,106,11620
21,Burgan Bank,1992,55,10696
22,İstanbul Takas ve Saklama Bankası,1995,1,7631
23,Tekstilbank,1986,44,6264
24,Deutsche Bank,1988,1,2681
25,Fibabanka,1984,68,9476
26,Aktif Yatırım Bankası,1999,8,7383
27,The Royal Bank of Scotland,1921,1,1754
28,Türkiye Kalkınma Bankası,1975,1,4975
29,Turkland Bank,1991,34,5651
30,Bank of Tokyo-Mitsubishi UFJ Turkey,2013,1,4737
31,Arap Türk Bankası,1977,7,3975
32,Intesa Sanpaolo S.p.A.,2013,1,3925
33,Merrill Lynch,1992,1,204
34,BankPozitif,1999,1,2090
35,Société Générale,1989,1,477
36,Turkish Bank,1982,13,1397
37,Rabobank,2014,1,843
38,JPMorgan Chase,1984,1,392
39,Birleşik Fon Bankası,1958,1,2450
40,Bank Mellat,1982,3,354
41,Nurol Yatırım Bankası,1999,1,788
42,Diler Yatırım Bankası,1998,1,116
43,GSD Yatırım Bankası,1998,1,231
44,Habib Bank Limited,1983,1,113
45,Credit Agricole (Standard Chartered),1990,1,83
46,Adabank,1985,1,53
47,Taib Yatırım Bank (Pasha Yatırım),1987,1,276